:root {
  /* Основні шрифти */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Кольори */
  --accent-cl: #ff6c00;

  /* Світла тема тексту */
  --primary-txt--mode-light: #555555;
  --secondary-txt--mode-light: #303030;
  --main-txt--mode-light: #555555;

  /* Темна тема тексту */
  --primary-txt--mode-dark: #ffffff;
  --secondary-txt--mode-dark: rgba(157, 164, 189, 0.6);
  --main-txt--mode-dark: #9da4bd;

  /* Світла тема фону */
  --primary-bg--mode-light: #ffffff;
  --secondary-bg--mode-light: #f7f7f7;

  /* Темна тема фону */
  --primary-bg--mode-dark: #191c26;
  --secondary-bg--mode-dark: #111319;

  /* Кольори для іконок */
  --icon-cl: #303030;

  /* Сітка */
  --items: 1;
  --indent: 30px;

  /* Інші */
  --fast: 300ms ease-in-out;
  --slow: 500ms ease-in-out;
}

/* Reset css */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.grid-item {
  flex-basis: calc(
    (100% - (var(--indent) * (var(--items) - 1))) / var(--items)
  );
}

/* Common styles */
.page {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--main-txt--mode-light);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid red; */
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.uppertitle {
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle::before {
  content: "";
  margin-right: 20px;

  width: 60px;
  height: 1px;
}

.uppertitle-mode-light {
  color: var(--secondary-txt--mode-light);
}

.uppertitle-mode-light::before {
  background-color: var(--secondary-txt--mode-light);
}

.uppertitle-mode-dark {
  color: var(--secondary-txt--mode-dark);
}

.uppertitle-mode-dark::before {
  background-color: var(--secondary-txt--mode-dark);
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--secondary-txt--mode-light);
}

.title-mode-light {
  margin-bottom: 20px;
  color: var(--secondary-txt--mode-light);
}

.title-mode-dark {
  margin-bottom: 44px;
  color: var(--primary-txt--mode-dark);
}

/* .description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;
} */

.subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.subtitle-mode-light {
  color: var(--main-txt--mode-light);
}

.subtitle-mode-dark {
  color: var(--main-txt--mode-dark);
}

.main-btn {
  width: 100%;
  max-width: 160px;
  min-width: 100px;
  min-height: 40px;
  padding: 11px 12px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  cursor: pointer;
}

.main-btn-mode-light {
  color: var(--primary-txt--mode-light);
  /* animation: vibrate-1 500ms linear infinite both; */
}

.main-btn-mode-dark {
  color: var(--primary-txt--mode-dark);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-cl);
  border-color: transparent;

  transition-property: color, background-color, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  transition: color var(--fast), background-color var(--slow);
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.public-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-txt--mode-light);
  transition: color 400ms;
}

.public-link:hover,
.public-link:focus {
  color: var(--accent-cl);
}

/* -= Header section =- */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 10;
}

.header-container,
.nav-list {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 71px;
}

.nav-item {
  margin-left: 40px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link,
.header-phone {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-txt--mode-dark);
  transition: color 400ms;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-cl);
}

.header-group {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.header-phone {
  flex-shrink: 0;
  text-transform: uppercase;
  margin-right: 40px;
  transition: color 400ms;
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-cl);
}

/* -= Hero section =- */
.hero {
  padding: 0;
  background-image: linear-gradient(
    to right,
    var(--primary-bg--mode-light) 12%,
    var(--primary-bg--mode-dark) 12%
  );
}

.hero-section {
  position: relative;
  display: flex;
}

.hero-left-side {
  display: flex;
  align-items: flex-end;

  width: 100px;
  padding-left: 26px;
  padding-bottom: 40px;
}

.hero-socials {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.hero-socials::before {
  content: "";

  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;

  flex-shrink: 0;
  background-color: var(--secondary-txt--mode-light);
}

.hero-right-side {
  flex-grow: 1;

  padding-top: 184px;
  padding-bottom: 206px;
  padding-left: 100px;

  background-color: var(--primary-bg--mode-dark);
}

.hero-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;

  letter-spacing: 0.05em;
  color: var(--primary-txt--mode-dark);
}

.hero .subtitle {
  width: 400px;
}

.slider-btn {
  position: absolute;
  bottom: 40px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-item:not(:last-child) {
  margin-right: 26px;
}

.hero-btn {
  min-width: 60px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  color: var(--primary-txt--mode-dark);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.hero-item:first-child .hero-btn {
  text-align: left;
}
.hero-item:last-child .hero-btn {
  text-align: right;
}

.hero-btn-disable {
  color: rgba(157, 164, 189, 0.6);
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
}

/* -= About us section =- */
.about-container {
  display: flex;
}

.about-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.about-item {
  overflow: hidden;
}

.about-img {
  transform: scale(1) translateY(0);
  transform-origin: 50% 16%;

  transition: transform 3s ease-out, transform-origin 1s ease-out;
}

.about-item:hover .about-img {
  transform: scale(1.25) translateY(-15px);
  transform-origin: top;
}

.about-right-side {
  width: 500px;
  margin-left: 64px;
}

.about-subtitle {
  margin-bottom: 20px;
}

.about-descr {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--main-txt--mode-light);
}

/* -= Price section =- */
.price {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bg--mode-dark);

  background-image: url(../images/price/bg-price.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.price-list {
  display: flex;
  margin-bottom: 50px;
}

.price-item {
  flex-basis: 50%;
  padding: 30px 40px;
}

.price-item:nth-child(odd) {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.price-item:nth-child(even) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

/* .price-inner-list {
  width: 50%;
} */

.price-inner-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item::after {
  content: "";
  margin-left: 6px;
  margin-right: 6px;
  max-width: 100%;
  height: 1px;
  flex-grow: 1;

  background-color: rgba(157, 164, 189, 0.122);
}

.price-inner-name,
.price-inner-cost {
  color: var(--main-txt--mode-dark);
  /* flex-shrink: 0; */
}

.price-inner-cost {
  order: 1;
}

.price .main-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -= Advantages section =- */
.advantages-container {
  display: flex;
  justify-content: center;
}

.advantages-list {
  flex-basis: 370px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.advantages-item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}

.advantages-item {
  width: 170px;
  min-height: 134px;
  padding: 20px;

  text-align: center;

  background-color: var(--secondary-bg--mode-light);
}

.advantages-right-side {
  width: 500px;
  margin-left: 130px;
}

.advantages-quantity {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  color: var(--secondary-txt--mode-light);
}

.advantages-quantity::after {
  content: "\002B";
  margin-left: 2px;
  margin-top: 7px;
  width: 10px;
  height: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  color: #ff6c00;
}

.advantages-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0;

  color: var(--secondary-txt--mode-light);
}

/* -= Team section =- */
.team {
  background-color: var(--secondary-bg--mode-light);
  /* background-image: radial-gradient(circle, #191c26, #f7f7f7, #555555); */
  /* background-image: linear-gradient(to bottom, #ffffff, #b8b8b8, #ffffff); */
  background-size: 100% 400%;
  animation: bg-pan-top 5s both infinite alternate;
}

/* @keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
} */

.team-list {
  --items: 3;
}

.team-member {
  text-align: center;
}

.team-member-group {
  padding: 30px 15px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 0 0 15px 15px;
  /* box-shadow: 15px 15px 30px #cecece, -15px -15px 30px #f2f2f2; */
}

.team-headline {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;

  color: var(--secondary-txt--mode-light);
}

.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;

  color: var(--accent-cl);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
}

.socials-icon {
  fill: var(--icon-cl);
  transition: fill 400ms;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-cl);
}

/* -= Gallery section =- */
.gallery-list {
  --items: 4;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item::before {
  content: attr(data-title);
  position: absolute;
  top: 30px;
  left: -80px;
  width: 100%;
  /* height: 15px; */
  padding: 10px;

  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;

  border: 1px solid #ff6c00;
  background-color: rgba(0, 0, 0, 0.5);

  transform: rotate(-45deg);
}

/* -= Contacts section =- */
.contacts {
  color: #9da4bd;
  background-color: var(--secondary-bg--mode-dark);
  background-image: url(../images/contacts/bg-contacts.png);
  background-repeat: no-repeat;
  background-position: top calc(50%) left calc(50% + 322px);
}

.contacts-container {
  display: flex;
}

.contacts-form-block,
.contacts-info-block {
  flex-basis: 50%;
}

.contacts-form-group {
  display: flex;
  flex-wrap: wrap;
}

.contacts-form-tag {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  margin-bottom: 44px;
}

.contacts-form-tag:first-of-type {
  margin-right: 40px;
}
.contacts-form-tag:nth-of-type(-n + 2) {
  flex-basis: calc(50% - 40px);
}

.contacts-form-input,
.contacts-form-message {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid var(--main-txt--mode-dark);
}

.contacts-form-message {
  width: 560px;
  height: 60px;
  resize: none;
}

.contacts-info-block {
  padding-left: 100px;
}

.contacts-list {
  margin-bottom: 70px;
  width: 270px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-address {
  display: flex;
  font-style: normal;
}

.contacts-link {
  display: flex;
  color: currentColor;
}

.contacts-icon {
  margin-right: 16px;
  flex-shrink: 0;

  fill: currentColor;
  transform: translateY(4px);
}

/**
|--------------------------------------------------
| селектор для  посилання по атрибуту, який
| починається зі слова "mailto:"
|--------------------------------------------------
*/
.contacts-link[href^="mailto:"] {
  text-decoration: underline;
}

.contacts .uppertitle-mode-dark {
  /**
|--------------------------------------------------
| перевизначення змінної для верхнього заголовка
| лише усередині секції contacts
|--------------------------------------------------
*/
  --secondary-txt--mode-dark: #ffffff;
}

/* -= Footer section =- */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer-container {
  display: flex;
  align-items: center;
}

.footer-list {
  margin-left: auto;

  display: flex;
  align-items: center;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;

  background-color: var(--secondary-txt--mode-light);
}

.footer-item:not(:last-child) {
  margin-right: 40px;
}
